<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>New Blog{{#if title }} | {{title }}{{/if}}</title>
  
  <meta name="description" content="New Blog">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css" type="text/css">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
</head>
<body>
  {{{body}}}
</body>
</html>
